* {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.hero {
    width: 100%;
    height: 100vh;
    background: url(img/raw/esperanza2023web.png);
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 40px;
    overflow: hidden;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.logo1 {
    width: 100px;
    cursor: pointer;
    margin-left: -10px;
}

.navbar {
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 40px;
    position: relative;
    color: #ced1d3;
    transition: 1s;
}

.nav-links ul li:hover {
    content: '';
    cursor: pointer;
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
}

.nav-links a {
    text-decoration: none;
    color: #ced1d3;
    letter-spacing: 1px;
}

.content {
    color: #ffff;
    position: absolute;
    top: 40%;
    left: 10%;
    padding-top: 200px;
    transform: translateY(-50%);
    z-index: 2;
}

.content small {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}


/*.content h1 {
    font-size: 100px;
    font-weight: 900;
    margin: 10px 0 30px;
    line-height: 80px;
    letter-spacing: 7px;
}*/

.content h4 {
    font-size: 30px;
    font-weight: 400;
    padding-top: 20px;
    letter-spacing: 5px;
    background: linear-gradient(60deg, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h3 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    padding-top: 20px;
    background: -webkit-linear-gradient(180deg, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h1 {
    font-size: 85px;
    font-weight: 900;
    margin: 10px 0 30px;
    line-height: 80px;
    letter-spacing: 7px;
    -webkit-box-reflect: below 3px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 3s infinite;
    text-shadow: 0 0 10px #c0d7f2;
}

.content h1 a {
    text-decoration: none;
    color: #ffff;
}

@keyframes animate {
    0% {
        color: #ffff;
        text-shadow: none;
    }
    100% {
        color: #ffff;
        text-shadow: 0 0 10px #C0EEF2, 0 0 20px #C0EEF2, 0 0 30px #C0EEF2, 0 0 50px #C0EEF2;
    }
}

.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
}

.bubbles img:nth-child(2) {
    animation-delay: 1s;
}

.bubbles img:nth-child(3) {
    animation-delay: 3s;
}

.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
}

.bubbles img:nth-child(5) {
    animation-delay: 3s;
}

.bubbles img:nth-child(6) {
    animation-delay: 6s;
}

.bubbles img:nth-child(7) {
    animation-delay: 7s;
}

.name h1 {
    background: #ffff;
}

.forum {
    color: #ffff;
    width: auto;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 0;
    letter-spacing: 1vh;
    text-align: center;
}

.forum h5 {
    font-size: 15px;
}

.forum h3 {
    background: linear-gradient(180deg, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.event {
    padding: 50px 0;
}

.title {
    font-size: 60px;
    font-weight: 600;
    color: #b506b8;
}

.event {
    padding-left: 125px;
    padding-top: 20px;
    padding-right: 100px;
}

.container {
    color: #ffff;
    line-height: 40px;
}

.container p span {
    color: #b506b8;
}

.container h3 {
    font-size: 25px;
}

.container h3 span {
    color: #b506b8;
}

.event-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    line-height: normal;
}

.event-list div {
    background: #2c2b2b;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.event-list h2 {
    padding: 50px 50px;
    font-size: 20px;
}

.event-list div:hover {
    background: #af09b1;
    transform: translatey(-5px);
}

.event-list button {
    background: #fdfdfd00;
    border: 1px solid#ffff;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 200px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    white-space: nowrap;
}

.event-list button span {
    display: inline-block;
    transform: skew(21deg);
    color: #ffffff;
    letter-spacing: 2px;
}

.event-list button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(0, 0, 0);
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
}

.event-list button:hover {
    color: #fff;
    border: none;
}

.event-list button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

.technical h3 {
    text-align: center;
    font-size: 35px;
    padding-top: 30px;
}

.non-technical h3 {
    text-align: center;
    font-size: 35px;
    padding-top: 30px;
}

.non-technical h3::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #b506b8;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.non-technical h3:hover::after {
    width: 25%;
}

.technical h3::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #b506b8;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.technical h3:hover::after {
    width: 18%;
}

.btn {
    padding-top: 10px;
}

.btn span {
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 12px;
    font-style: italic;
}

.btn button {
    --green: #b506b8;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(253, 27, 208, 0.1) 1%, transparent 40%, transparent 60%, rgba(253, 27, 234, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(230, 27, 253, 0.4), 0 0 9px 3px rgba(253, 27, 242, 0.1);
}

.btn button:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(253, 27, 219, 0.6), 0 0 9px 3px rgba(253, 27, 242, 0.2);
}

.btn button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(253, 27, 204, 0.1) 40%, rgba(253, 27, 223, 0.1) 60%, transparent 100%);
}

.btn button:hover:before {
    transform: translateX(15em);
}

.scroll-down-indicator {
    position: absolute;
    bottom: 30px;
    left: 40%;
    text-align: center;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
}

.scroll-down-indicator2 {
    position: absolute;
    bottom: 30px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
}

.arrow-down {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

.arrow-down2 {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

.scroll-down-indicator p {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 15px;
}

.scroll-down-indicator2 p {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 15px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}


/*------innovation min-----*/

.innovation {
    background-size: 100% auto;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 20px;
    box-sizing: border-box;
    margin-left: 25%;
    margin-top: 5%;
    transition: 0.5s;
    width: 50%;
    height: 50%;
}

.innovation h1 {
    white-space: nowrap;
    padding-bottom: 20px;
    margin-left: -25%;
}

.innovation h3 {
    margin-left: -15%;
    font-size: 20px;
}

.innovation:hover {
    box-shadow: 0 0 20px 0px rgba(202, 1, 142, 0.995);
}

.innovation a {
    text-decoration: none;
}

.innovation p {
    white-space: nowrap;
    margin-left: -10%;
}

.organiser {
    border-radius: 10px;
    padding: 50px;
    width: 50%;
    margin-bottom: 10%;
    margin-left: 25%;
    position: relative;
    box-sizing: border-box;
    color: #fff;
    transition: 0.5s;
}

.organiser:hover {
    box-shadow: 0 0 20px 0px rgba(202, 1, 142, 0.995);
}

.organiser h1 {
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(180deg, #00dbde, #af09b1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.organiser h2 {
    font-size: 30px;
    font-style: italic;
}

.organiser h2 span {
    font-size: 40px;
    background: linear-gradient(180deg, #de002c, #af09b1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.organiser h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
}


/*---ourteam---*/

.our-team {
    padding: 50px 0;
}

.our-team .con {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.our-team .title {
    padding-left: 5%;
    font-size: 70px;
    font-weight: 600;
}

.con .row img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.wrap,
.single {
    position: relative;
}

.wrap {
    perspective: 900px;
}

.single {
    text-align: center;
    transition: all 1.5s cubic-bezier(0.7, -0.5, 0.3, 1.8);
    transform-style: preserve-3d;
}

.wrap:hover .single {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 300px;
    position: relative;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    cursor: pointer;
    height: 100%;
    background-image: url(images/_DSC0042.jpg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50px;
    background-size: cover;
    background-position: center center;
}

.back {
    transform: rotateY(180deg);
    position: absolute;
    border-radius: 50%;
    height: 300px;
    background: linear-gradient(180deg, #200140, #1d0143);
}

.data {
    padding-top: 20%;
}

.data {
    color: #fff;
}

.data h1 {
    font-size: 20px;
    padding: 10px;
    font-style: italic;
}

.data h1 span {
    font-size: 25px;
    background: linear-gradient(180deg, #de002c, #af09b1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.data h3 {
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
}

.data h2 {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 10px;
}

.data p {
    padding-top: 10px;
}

.data p a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}


/*-------footer-----*/

.footer {
    width: 100%;
    background: #2c2b2b;
    color: #efefef;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 100%;
}

.col-3 {
    width: 100%;
}

.footer div {
    padding: 50px 30px;
}

.footer div h3 {
    letter-spacing: 1px;
    color: #b506b8;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 25px;
}

.footer iframe {
    width: 400px;
    height: 300px;
    margin-left: 5%;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.5s;
}

.sci li a:hover {
    background: #b506b8;
}

.sci li a .fa {
    color: #fff;
}

.info {
    list-style: none;
    text-decoration: none;
}

.col-2 {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.col-2 .info {
    position: relative;
    padding-top: 10px;
}

.col-2 .info li {
    display: flex;
    margin-bottom: 16px;
}

.col-2 .info li span:nth-child() {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.col-2.info li span {
    color: #999;
    font-size: 14px;
}

.col-2 .info li a {
    color: #999;
    text-decoration: none;
}

.col-2 .info li a:hover {
    color: #fff;
}

.col-2.info li p {
    color: #999;
}

.info a {
    font-family: sans-serif;
}

.info .fa {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.5s;
}

.info .fa:hover {
    background: #b506b8;
}

.copyright {
    width: 100%;
    box-sizing: border-box;
    background: #181818;
    padding: 8px 100px;
}

.copyright .text p {
    text-align: center;
    color: #999;
}


/*----back btn----*/

.backbtn .home {
    width: 100px;
    position: relative;
    height: 3.5em;
    border: 3px ridge #b506b8;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    margin-left: 250px;
    margin-top: 50px;
}

.backbtn .home a {
    color: #fff;
    text-decoration: none;
}

.backbtn .home::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000000;
    transition: 0.5s;
    transform-origin: center;
}

.backbtn .home::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #000000;
    transition: 0.5s;
}

.backbtn .home:hover::before,
button:hover::after {
    transform: scale(0)
}

.backbtn.home:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}

@media screen and (max-width: 600px) {
    .logo {
        width: 75px;
    }
    .logo1 {
        width: 75px;
        margin-left: 45%;
    }
    .hero {
        height: 100vh;
        background: black;
        background-size: cover;
    }
    .navbar {
        padding-top: 10px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: fixed;
        background: #b506b8;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 2s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    nav img {
        width: 100px;
        border-radius: 12px;
        padding-top: 18px;
        padding-bottom: 15px;
    }
    .hero {
        padding-top: 50px;
    }
    .forum h1 {
        font-size: 15px;
    }
    .forum h5 {
        font-size: 10px;
    }
    .forum h3 {
        font-size: 14px;
        margin-top: 10px;
    }
    .content {
        color: #ffff;
        position: absolute;
        left: 10%;
        transform: translateY(-50%);
        z-index: 0;
    }
    .content small {
        font-size: 15px;
    }
    .content h1 {
        font-size: 30px;
    }
    .content h4 {
        margin-top: -50px;
        font-size: 30px;
    }
    .content h3 {
        font-size: 20px;
    }
    .btn button {
        font-size: 14px;
        padding: 0.6em 2.4em;
    }
    .btn span {
        margin-left: -20px;
    }
    .btn button:before {
        width: 3em;
    }
    .scroll-down-indicator {
        left: 30%;
    }
    .scroll-down-indicator2 {
        left: 50%;
    }
    .bubbles img {
        width: 30px;
    }
    .event {
        padding-left: 40px;
    }
    .event h1 {
        font-size: 50px;
    }
    .event h3 {
        font-size: 25px;
        white-space: nowrap;
        padding-bottom: 10px;
    }
    .event p {
        font-size: 18px;
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
    }
    .technical {
        padding-left: 50px;
        align-items: center;
        text-align: center;
    }
    .technical h3 {
        font-size: 30px;
    }
    .technical h2 {
        font-size: 20px;
    }
    .non-technical {
        padding-left: 50px;
    }
    .non-technical h3 {
        font-size: 30px;
    }
    .non-technical h2 {
        font-size: 20px;
    }
    button {
        width: 150px;
        font-size: 10px;
    }
    .event-list {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        grid-gap: 20px;
        margin-top: 30px;
        font-size: 12px;
    }
    .event-list div {
        padding: 20px;
        font-size: 11px;
    }
    .fa {
        color: #ffff;
    }
    .innovation {
        border-radius: 0px;
        margin-bottom: 0%;
        padding: 0px 0px;
        box-sizing: none;
        margin-left: 0%;
        margin-top: 0%;
        transition: 0.5s;
        width: auto;
        height: auto;
    }
    .innovation:hover {
        box-shadow: 0 0 0px 0px rgba(202, 1, 142, 0.995);
    }
    .innovation h1 {
        font-size: 40px;
        margin-left: 3%;
    }
    .innovation h3 {
        font-size: 30px;
        margin-left: 2%;
    }
    .innovation p {
        font-size: 18px;
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
        margin-left: 1%;
    }
    .organiser {
        border-radius: 0px;
        padding: 10px;
        width: auto;
        margin-bottom: 0%;
        margin-left: 5%;
        box-sizing: border-box;
        color: #fff;
    }
    .organiser:hover {
        box-shadow: 0 0 0px 0px rgba(202, 1, 142, 0.995);
    }
    .organiser h1 {
        font-size: 30px;
    }
    .organiser h2 {
        font-size: 20px;
    }
    .backbtn .home {
        width: 100px;
        position: relative;
        height: 3.5em;
        border: 3px ridge #b506b8;
        outline: none;
        background-color: transparent;
        color: white;
        transition: 1s;
        border-radius: 0.3em;
        font-size: 16px;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 0;
        padding-right: 0;
        margin-top: 10px;
    }
    .footer {
        padding: 20px;
        width: auto;
    }
    .footer {
        flex-direction: column;
    }
    .footer .col-1,
    .col-2,
    .col-3 {
        margin-right: 0;
        margin-bottom: 0px;
    }
    .footer .col-1,
    .col-2,
    .col-3 {
        width: 100%;
    }
    .footer iframe {
        width: 250px;
        height: 300px;
    }
    .copyright {
        padding: 8px 40px;
        text-align: center;
    }
    .our-team {
        padding: 50px 0;
    }
    .our-team .con {
        align-items: center;
        display: inline-block;
        padding-top: 20px;
        padding-left: 20px;
    }
    .our-team .title {
        padding-left: 10%;
        font-size: 50px;
        font-weight: 600;
    }
}
